<p style="color: green"><%= notice %></p>

<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<h1><%= @exchange_rate_provider.name %>: <%= @exchange_rate_provider.source_currency %>
  to <%= @exchange_rate.currency %></h1>

<div id="exchange_rates">
  <table>
    <tr>
      <th>Currency</th>
      <th>Amount</th>
      <th>Rate</th>
    </tr>
    <%= render partial: 'exchange_rates/exchange_rate', object: @exchange_rate %>
  </table>

  <p><%= link_to "Back to #{@exchange_rate_provider.name} exchange rate provider", [@exchange_rate_provider, :exchange_rates] %></p>
</div>
